@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-clip: content-box;
    background-color: #7d7d7d;
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    opacity: 0;
  }
}
